.card4{
/* 矩形 342 */

position: absolute;
left: 64px;
top: 542px;
width: 542px;
height: 624px;
border-radius: 28px;
opacity: 1;
	
background: #FFF8E8;
	
box-sizing: border-box;
border-width: 4.8px 6px 6px 5px;
border-style: solid;
border-color: #3D3D3D;
	
}
.slot{
/* 意向约拍档期 */

position: absolute;
left: 92px;
top: 576px;
width: 256px;
height: 58px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 40px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #000000;
	
}
.month{
/* 拍摄月份 */

position: absolute;
left: 100px;
top: 650px;
width: 108px;
height: 34px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 26px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #000000;
	
}
.card5{
  /* 矩形 333 */

position: absolute;
left: 254px;
top: 654px;
width: 202px;
height: 38px;
border-radius: 4px;
opacity: 1;
	
background: rgba(255, 213, 0, 0.5);
	
box-sizing: border-box;
border: 2px solid #ACACAC;
	
}
.monthSelect{
  /* 5 月 */

position: absolute;
left: 292.28px;
top: 773.26px;
width: 33.46px;
height: 27.94px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 16px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #3D3D3D;
	
}
.line{
  /* 直线 15 */

position: absolute;
left: 348.06px;
top: 768.6px;
width: 30.28px;
height: 0px;
transform: rotate(90deg);
opacity: 1;
	
border: 2px solid #D8D8D8;
	
}
.monthText{
  /* 草长莺飞毕业季 */

position: absolute;
left: 368.16px;
top: 775.6px;
width: 93.72px;
height: 20.96px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 12px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #000000;
	
}
.select1{
  /* 多边形 17 */

position: absolute;
left: 497.56px;
top: 794.22px;
width: 17.84px;
height: 18.64px;
transform: rotate(-180deg);
border-radius: 2px;
opacity: 1;
	
background: url(image/select1.png);
	
}
.date{
  /* 拍摄日期 */

position: absolute;
left: 113.8px;
top: 833.82px;
width: 120.48px;
height: 37.26px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 26px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #000000;
	
}
.dateExplain{
  /* 白色为全天可选日期（摄影师档期全天有空） 灰色为部分可选日期（摄影师上/下午部分有空） */

position: absolute;
left: 118.26px;
top: 896.7px;
width: 383.76px;
height: 55.9px;
opacity: 1;
	
font-family: Source Han Sans;
font-size: 16px;
font-weight: normal;
line-height: normal;
letter-spacing: 0em;
	
font-variation-settings: "opsz" auto;
font-feature-settings: "kern" on;
color: #9F9F9F;
	
}
.card6{
  /* 矩形 332 */

position: absolute;
left: 118.26px;
top: 971.24px;
width: 283.36px;
height: 265.52px;
border-radius: 10px;
opacity: 1;
	
box-sizing: border-box;
border: 2px solid #3D3D3D;
	
}
.date2{
  /* 选择日期 */

position: absolute;
left: 133.88px;
top: 982.88px;
width: 87.02px;
height: 32.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 16px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #000000;
	
}
.background{
  /* image */

position: absolute;
left: 138.34px;
top: 992.2px;
width: 245.44px;
height: 235.24px;
opacity: 1;
	
background: url(image/background.png);
	
}
.snapLogo{
  /* 未命名作品 7 */

position: absolute;
left: 187.42px;
top: 1031.8px;
width: 153.96px;
height: 146.74px;
mix-blend-mode: multiply;
opacity: 0.3;
	
background: url(image/snapLogo.png) no-repeat center center;
background-size: cover;

filter: opacity(0.800000011920929);
	
}
.card7{
  /* 矩形 329 */

position: absolute;
left: 419.46px;
top: 971.24px;
width: 214.2px;
height: 123.44px;
border-radius: 10px;
opacity: 1;
	
box-sizing: border-box;
border: 2px solid #3D3D3D;
	
}
.time{
  /* 选择意向时段*非必选 */

position: absolute;
left: 435.08px;
top: 982.88px;
width: 187.42px;
height: 32.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 10px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #696969;
	
/* 选择意向时段* */ 
font-family: 思源黑体; 
font-weight: 700; 
font-size: 16px;

/* 非必选 */ 
font-family: 思源黑体; 
font-weight: 700; 
font-size: 10px;

}
.card8{
  /* 矩形 321 */

position: absolute;
left: 435.08px;
top: 1029.46px;
width: 178.5px;
height: 44.26px;
border-radius: 4px;
opacity: 1;
	
background: rgba(255, 255, 255, 0.8);
	
box-sizing: border-box;
border: 2px solid #3D3D3D;
	
}
.timeSelect{
  /* 6-8 */

position: absolute;
left: 448.48px;
top: 1038.78px;
width: 24.54px;
height: 23.3px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 14px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #3D3D3D;
	
}
.line2{
  /* 直线 16 */

position: absolute;
left: 488.64px;
top: 1036.46px;
width: 30.28px;
height: 0px;
transform: rotate(90deg);
opacity: 1;
	
border: 2px solid #000000;
	
}
.timeText{
  /* 晨光熹微 */

position: absolute;
left: 499.8px;
top: 1041.12px;
width: 58.02px;
height: 20.96px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 12px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #787878;
	
}
.select2{
  /* 多边形 17 */

position: absolute;
left: 497.56px;
top: 794.22px;
width: 17.84px;
height: 18.64px;
transform: rotate(-180deg);
border-radius: 2px;
opacity: 1;
	
background: url(image/select2.png);
	
}
.weather{
  /* 当日天气预计： */

position: absolute;
left: 426.16px;
top: 1120.3px;
width: 187.42px;
height: 32.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 18px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #696969;
	
}
.weatherSymbol{
  /* sun-cloudy-fill */

position: absolute;
left: 562.26px;
top: 1117.98px;
width: 33.46px;
height: 34.94px;
opacity: 1;

background: url(image/weatherSymbol.png);
}
.temperature{
  /* 25° */

position: absolute;
left: 609.12px;
top: 1120.3px;
width: 33.46px;
height: 32.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 16px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #696969;
	
}
.reserveIcon{
  /* 我还没想好，先预定 */

position: absolute;
left: 435.08px;
top: 1187.84px;
width: 187.42px;
height: 32.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 18px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #FFFFFF;
	
}
.reserveButton{
  /* 矩形 324 */

position: absolute;
left: 419.46px;
top: 1171.54px;
width: 216.42px;
height: 65.22px;
border-radius: 52px;
opacity: 1;
	
background: #886A0B;
	
box-sizing: border-box;
border-width: 4px 6px 6px 5px;
border-style: solid;
border-color: #3D3D3D;
	
}
.defineIcon{
  /* 下一步，确认订单 */

position: absolute;
left: 176.26px;
top: 1269.36px;
width: 214.2px;
height: 39.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 24px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #FFFFFF;
	
}
.defineButton{
  /* 矩形 325 */

position: absolute;
left: 113.8px;
top: 1257.72px;
width: 321.3px;
height: 65.22px;
border-radius: 52px;
opacity: 1;
	
background: #886A0B;
	
box-sizing: border-box;
border-width: 4px 6px 6px 5px;
border-style: solid;
border-color: #3D3D3D;
	
}
.backchangeIcon{
  /* 返回修改 */

position: absolute;
left: 488.64px;
top: 1269.36px;
width: 107.1px;
height: 39.6px;
opacity: 1;
	
font-family: 思源黑体;
font-size: 24px;
font-weight: bold;
line-height: normal;
letter-spacing: 0em;
	
font-feature-settings: "kern" on;
color: #FFFFFF;
	
}
.backchangeButton{
  /* 矩形 328 */

position: absolute;
left: 448.48px;
top: 1257.72px;
width: 185.2px;
height: 65.22px;
border-radius: 52px;
opacity: 1;
	
background: rgba(136, 106, 11, 0.5);
	
}