.container {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.box {
    display: flex;
    margin: 10px;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
    border-radius: 52px;
    opacity: 1;
    background: #fff8e8;
    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
    z-index: -1;
}

.backgroundLogo {
    position: fixed;
    right: 10px;
    top: 950px;
    bottom: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    background: url(image/Snap-logo.png) no-repeat center center;
    background-size: cover;
}
.head2 {
    /* 矩形 144 */
    position: fixed;
    left: 5px;
    top: 5px;
    width: calc(100vw - 18px);
    height: 190px;
    border-radius: 52px 52px 0px 0px;
    opacity: 1;

    background: #ffd500;
}

.backIcon {
    /* 路径 */

    width: 48px;
    height: 48px;
    opacity: 1;

    background: url(image/backIcon.png) no-repeat center center;
    background-size: cover;
}
.backButton {
    /* arrow-go-back-fill */

    position: absolute;
    left: 50px;
    top: 95px;
    width: 48px;
    height: 48px;
    opacity: 1;
}

.backgroundPicture {
    /* 矩形 301 */

    position: absolute;
    left: 5px;
    top: 120px;
    width: 732px;
    height: 694px;
    opacity: 1;

    background: url(image/backgroundPicture.png) no-repeat center center;
    background-size: contain;
}
.card1 {
    /* 矩形 292 */

    position: absolute;
    left: 6px;
    bottom: 10px;
    width: 734px;
    height: 954px;
    transform: rotate(180deg);
    opacity: 1;

    background: rgba(255, 213, 0, 0.8);

    box-sizing: border-box;
    border: 8px solid #3d3d3d;
    border-radius: 0px 0px 36px 36px;

    backdrop-filter: blur(20px);
}
.text1 {
    /* 三步完成你的预定 */
    position: absolute;
    left: 90px; /* 原始值为 50px，加上 40 后为 90px */
    top: 724px; /* 原始值为 684px，加上 80 后为 724px */
    width: 662px;
    height: 82px;
    opacity: 1;
    font-family: 思源黑体;
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    color: #ffffff;
}

.text2 {
    /* STEP 1 */
    position: absolute;
    left: 116px; /* 原始值为 76px，加上 40 后为 116px */
    top: 796px; /* 原始值为 776px，加上 80 后为 796px */
    width: 494px;
    height: 82px;
    opacity: 1;
    font-family: 思源黑体;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    color: #ffffff;
}

.card2 {
    /* 矩形 262 */
    position: absolute;
    left: 104px; /* 原始值为 64px，加上 40 后为 104px */
    top: 862px;
    width: 542px;
    height: 624px;
    border-radius: 28px;
    opacity: 1;
    background: #fff8e8;
    box-sizing: border-box;
    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.card4 {
    /* 矩形 272 */

    position: absolute;
    left: 84px;
    top: 880px;
    width: 726px;
    height: 950px;
    border-radius: 28px;
    opacity: 1;

    background: #fff8e8;

    box-sizing: border-box;
    border-width: 4.8px 6px 6px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.orderInformation {
    /* 订单信息 */

    position: absolute;
    left: 364px;
    top: 904px;
    width: 196px;
    height: 68px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.name {
    /* 您的昵称 */

    position: absolute;
    left: 154px;
    top: 1002px;
    width: 206px;
    height: 44px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.nameCard {
    /* 矩形 275 */

    position: absolute;
    left: 356px;
    top: 1002px;
    width: 362px;
    height: 42px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.phone {
    /* 您的电话 */

    position: absolute;
    left: 154px;
    top: 1074px;
    width: 206px;
    height: 40px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.phoneCard {
    /* 矩形 297 */

    position: absolute;
    left: 356px;
    top: 1074px;
    width: 362px;
    height: 38px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.number {
    /* 约拍人数 */

    position: absolute;
    left: 154px;
    top: 1142px;
    width: 206px;
    height: 40px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.numberCard {
    /* 矩形 285 */

    position: absolute;
    left: 356px;
    top: 1142px;
    width: 362px;
    height: 38px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.photographer {
    /* 选定摄影师 */

    position: absolute;
    left: 154px;
    top: 1214px;
    width: 206px;
    height: 40px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.photographerCard {
    /* 矩形 251 */

    position: absolute;
    left: 356px;
    top: 1214px;
    width: 362px;
    height: 38px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.time {
    /* 约拍时间 */

    position: absolute;
    left: 154px;
    top: 1332px;
    width: 174px;
    height: 40px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.timeCard1 {
    /* 矩形 302 */

    position: absolute;
    left: 356px;
    top: 1288px;
    width: 362px;
    height: 44px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.timeText1 {
    /* 月份 */

    position: absolute;
    left: 434px;
    top: 1300px;
    width: 52px;
    height: 28px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #bebebe;
}
.timeCard2 {
    /* 矩形 296 */

    position: absolute;
    left: 356px;
    top: 1338px;
    width: 362px;
    height: 36px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.timeText2 {
    /* *日期（可为空） */

    position: absolute;
    left: 422px;
    top: 1342px;
    width: 202px;
    height: 28px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #bebebe;
}
.timeCard3 {
    /* 矩形 252 */

    position: absolute;
    left: 356px;
    top: 1380px;
    width: 362px;
    height: 38px;
    border-radius: 28px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.timeText3 {
    /* *时段（可为空） */

    position: absolute;
    left: 422px;
    top: 1386px;
    width: 246px;
    height: 28px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #bebebe;
}
.card5 {
    /* 矩形 250 */

    position: absolute;
    left: 136px;
    top: 1456px;
    width: 622px;
    height: 238px;
    border-radius: 10px;
    opacity: 1;

    box-sizing: border-box;
    border: 2px solid #000000;
}
.orderFlow {
    /* 成单流程 */

    position: absolute;
    left: 388px;
    top: 1466px;
    width: 132px;
    height: 38px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.step1 {
    /* 组 78 */

    position: absolute;
    left: 202px;
    top: 1534px;
    width: 78px;
    height: 68px;
    opacity: 1;

    background: #00b578;
}
.step2 {
    /* 组 77 */

    position: absolute;
    left: 344px;
    top: 1534px;
    width: 78px;
    height: 68px;
    border-radius: 52px;
    opacity: 1;

    background: #b3b3b3;
}
.step3 {
    /* 组 71 */

    position: absolute;
    left: 486px;
    top: 1534px;
    width: 78px;
    height: 68px;
    border-radius: 52px;
    opacity: 1;

    background: #b3b3b3;
}
.step4 {
    /* 组 81 */

    position: absolute;
    left: 628px;
    top: 1534px;
    width: 78px;
    height: 68px;
    border-radius: 52px;
    opacity: 1;

    background: #b3b3b3;
}
.line {
    /* 直线 10 */

    position: absolute;
    left: 280px;
    top: 1574px;
    width: 392px;
    height: 0px;
    opacity: 1;

    border: 4px dashed #606060;
}
.step1Text {
    /* 选摄影师定档期 */

    position: absolute;
    left: 194px;
    top: 1618px;
    width: 88px;
    height: 18px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #000000;
}
.step2Text {
    /* 确认订单信息 */

    position: absolute;
    left: 344px;
    top: 1618px;
    width: 78px;
    height: 18px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #7b7b7b;
}
.step3Text {
    /* 付定金 与摄影师沟通 */

    position: absolute;
    left: 460px;
    top: 1618px;
    width: 134px;
    height: 88px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #7b7b7b;
}
.step4Text {
    /* 拍摄！ 退定收片 */

    position: absolute;
    left: 610px;
    top: 1618px;
    width: 118px;
    height: 68px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #7b7b7b;
}
.defineIcon {
    /* 确认！一起咔嚓！ */

    position: absolute;
    left: 246px;
    top: 1738px;
    width: 198px;
    height: 42px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.defineButton {
    /* 矩形 258 */

    position: absolute;
    left: 136px;
    top: 1724px;
    width: 384px;
    height: 72px;
    border-radius: 52px;
    opacity: 1;

    background: #886a0b;

    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.backchangeIcon {
    /* 返回修改 */

    position: absolute;
    left: 604px;
    top: 1738px;
    width: 102px;
    height: 42px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.backchangeButton {
    /* 矩形 274 */

    position: absolute;
    left: 536px;
    top: 1724px;
    width: 222px;
    height: 72px;
    border-radius: 52px;
    opacity: 1;

    background: rgba(136, 106, 11, 0.5);
}

.button {
  /* 矩形 245 */
  position: absolute;
  left: 232px; /* 原始值为 192px，加上 40 后为 232px */
  top: 1390px;
  width: 288px;
  height: 56px;
  border-radius: 52px;
  opacity: 1;
  background: #886a0b;
  box-sizing: border-box;
  border-width: 4px 6px 6px 5px;
  border-style: solid;
  border-color: #3d3d3d;
}