.container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.box {
    display: flex;
    margin: 10px;
}
/* .page {
  position: fixed;
  width: calc(100vw);
  height: calc(100vh);
top: 0px;

  border-radius: 52px;
  opacity: 1;
  z-index: -1;
  background: url(image/PageBackground.png)
} */
.page {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
    border-radius: 52px;
    opacity: 1;
    background: #fff8e8;
    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
    z-index: -1;
}

/* .page {
  position: fixed;
  width: calc(100vw - 20px);
  height: calc(100vh - 16px);
  border-radius: 52px;
  opacity: 1;

  background: #fff8e8;

  border-width: 4px 14px 12px 6px;
  border-style: solid;
  border-color: #000000;
} */
.backgroundLogo {
    position: fixed;
    right: 10px;
    top: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    background: url(image/Snap-logo.png);
}

.head {
    margin-left: 70px;
    margin-top: 100px;
    width: 173px;
    height: 40px;
    opacity: 1;
    background: url(image/SNAP.png) no-repeat center center;
    background-size: cover;
}

.banner {
    width: calc(100vw - 20px);
    /* height: auto; */
    height: 254px;
    opacity: 1;
    background-size: cover;
    background: url(image/banner.png), rgba(255, 255, 255, 0.2);
    background-size: 100% auto;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.16);
}

.card {
    width: calc(100vw - 20px);
    border-radius: 36px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;

    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.picture {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    opacity: 1;
    background: url(image/picture.png) no-repeat center center;
    background-size: cover;
}

.arrowLeft {
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/方向一.png);
}

.arrowRight {
    width: 48px;
    height: 48px;
    transform: rotate(180deg);
    opacity: 1;

    background: url(image/方向一.png);
}

.likeIcon {
    width: 48px;
    height: 46px;
    opacity: 1;
    background: url(image/heart.png) no-repeat center center;
    background-size: contain;
    margin: 2px;
}

.starIcon {
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/star.png) no-repeat center center;
    background-size: contain;
    margin: 2px;
}

.avatar {
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像.png) no-repeat center center;
    background-size: cover;
}

.username {
    opacity: 1;

    font-family: 思源黑体;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #848484;
}

.number {
    font-family: 思源黑体;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #848484;
}

.BottomNavigation {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    /* width: 640px; */
    width: calc(100vw);

    height: 156px;
    opacity: 1;

    background: #fffefc;

    border: 4px solid #000000;
}
.BottomNavigation2 {
    /* width: 582px; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: calc(100vw - 70px);
    height: 112px;
    border-radius: 34px;
    opacity: 1;
    background: #ffffff;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}
.HomeIcon {
    width: 33.26%;
    height: 58.72%;
    opacity: 1;
    background: url(image/HomeIcon.png) no-repeat center center;
    background-size: cover;
}
.HomeButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    background: #ffd500;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}
.MomentsIcon {
    width: 40.26%;
    height: 59.72%;
    opacity: 1;
    background: url(image/MomentsIcon.png) no-repeat center center;
    background-size: cover;
}
.MomentsButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    /* background: #FFD500;
  box-sizing: border-box;
  border-width: 4px 6px 6px 5px;
  border-style: solid;
  border-color: #000000; */
}
.ChatIcon {
    width: 43.26%;
    height: 58.72%;
    opacity: 1;
    background: url(image/ChatIcon.png) no-repeat center center;
    background-size: cover;
}
.ChatButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.CalendarIcon {
    width: 40.26%;
    height: 58.72%;
    opacity: 1;
    background: url(image/CalendarIcon.png) no-repeat center center;
    background-size: cover;
}
.CalendarButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.button {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 186px;
    height: 64px;
    border-radius: 36px;
    opacity: 1;

    background: #ffd500;

    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.body7 {
    /* 找Ta拍 */
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.avatar2 {
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像2.jpg) no-repeat center center;
    background-size: cover;
}
.picture2 {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    opacity: 1;
    background: url(image/picture2.jpg) no-repeat center center;
    background-size: cover;
}
.avatar3 {
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像3.jpg) no-repeat center center;
    background-size: cover;
}
.picture3 {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    opacity: 1;
    background: url(image/picture3.png) no-repeat center center;
    background-size: cover;
}
.avatar4 {
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像4.jpg) no-repeat center center;
    background-size: cover;
}
.picture4 {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    opacity: 1;
    background: url(image/picture4.jpg) no-repeat center center;
    background-size: cover;
}
.avatar5 {
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像5.jpg) no-repeat center center;
    background-size: cover;
}
.picture5 {
    width: 100%;
    height: 350px;
    border-radius: 22px;
    opacity: 1;
    background: url(image/picture5.jpg) no-repeat center center;
    background-size: cover;
}
