.page {
    left: 0px;
    top: 0px;

    width: calc(100vw - 20px);
    /* 减去左右边框的总宽度 */
    height: calc(100vh - 16px);
    /* 减去上下边框的总高度 */
    border-radius: 52px;
    opacity: 1;

    background: #fff8e8;

    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
}

.head {
    position: absolute;
    left: 55.74px;
    top: 52.44px;
    width: 265.22px;
    height: 113.42px;
    opacity: 1;

    font-family: Angkor;
    font-size: 48px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3d3d3d;
}

.banner {
    position: absolute;
    left: 24px;
    top: 140px;
    width: 590px;
    height: 204px;
    opacity: 1;

    background: url(image/banner.png), rgba(255, 255, 255, 0.2);

    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.16);
}

.card {
    position: absolute;
    left: 75px;
    top: 404px;
    width: 590px;
    height: 492px;
    border-radius: 18px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;

    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.backgroundLogo {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;

    background: url(image/Snap-logo.png);
}

.picture {
    position: absolute;
    left: 50px;
    top: 42px;
    width: 488px;
    height: 304px;
    border-radius: 22px;
    opacity: 1;

    background: url(image/picture.png);
}

.ArrowLeft {
    /* 方向一 */
    position: absolute;
    left: 2px;
    top: 190px;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/方向一.png);
}

.ArrowRight {
    /* 方向一 */

    position: absolute;
    left: 530px;
    top: 185px;
    width: 48px;
    height: 48px;
    transform: rotate(180.3deg);
    opacity: 1;

    background: url(image/方向一.png);
}

.heart {
    /* 路径 */

    position: absolute;
    left: 450px;
    top: 350px;
    width: 40px;
    height: 39px;
    opacity: 1;

    background: url(image/heart.png);

}

.star {
    /* star-fill */

    position: absolute;
    left: 495px;
    top: 345px;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/star.png);
}

.user {
    /* 圆形 1 */

    position: absolute;
    left: 50px;
    top: 370px;
    width: 86px;
    height: 86px;
    opacity: 1;

    background: url(image/头像.png);

}

.username {
    /* 困困233 */

    position: absolute;
    left: 170px;
    top: 380px;
    width: 122px;
    height: 30px;
    opacity: 1;

    background: url(image/username.png);

}

.number {
    position: absolute;
    left: 165px;
    top: 425px;
    width: 152px;
    height: 20px;
    opacity: 1;

    background: url(image/number.png);
}

.card2 {
    position: absolute;
    left: 75px;
    top: 1100px;
    width: 590px;
    height: 492px;
    border-radius: 18px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;

    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
}

.ArrowLeft2 {
    /* 方向一 */

    position: absolute;
    left: 1px;
    top: 190px;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/方向一.png);

}

.picture2 {
    position: absolute;
    left: 45px;
    top: 45px;
    width: 488px;
    height: 304px;
    border-radius: 22px;
    opacity: 1;

    background: url(image/picture2.png);
}

.ArrowRight2 {
    /* 方向一 */

    position: absolute;
    left: 530px;
    top: 190px;
    width: 48px;
    height: 48px;
    transform: rotate(180.3deg);
    opacity: 1;

    background: url(image/方向一.png);
}
.card3{
  /* 组 33 */

position: absolute;
left: 45px;
top: 1450px;
width: 650px;
height: 166px;
opacity: 1;
	
background: url(image/card3.png);
	
}