.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.box {
    display: flex;
    margin: 10px;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
    border-radius: 52px;
    opacity: 1;
    background: #fff8e8;
    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
    z-index: -1;
}

.head2 {
    /* 矩形 144 */
    position: fixed;
    left: 5px;
    top: 5px;
    width: calc(100vw - 18px);
    height: 180px;
    border-radius: 52px 52px 0px 0px;
    opacity: 1;

    background: #ffd500;
}

.backIcon {
    /* 路径 */

    width: 48px;
    height: 48px;
    opacity: 1;

    background: url(image/backIcon.png) no-repeat center center;
    background-size: cover;
}
.backButton {
    /* arrow-go-back-fill */

    position: absolute;
    left: 50px;
    top: 95px;
    width: 48px;
    height: 48px;
    opacity: 1;
}

.backgroundLogo {
    position: fixed;
    right: 10px;
    top: 950px;
    bottom: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    /*
position: absolute;
left: 286px;
top: 926px;
width: 370px;
height: 458px;
mix-blend-mode: multiply;
opacity: 0.3;
 */
    background: url(image/snapLogo.png) no-repeat center center;
    background-size: cover;
}
.payMessage {
    /* 定金支付成功 */

    width: 382px;
    height: 88px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 60px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.payText {
    /* 芜湖！记录回忆倒计时 */

    width: 432px;
    height: 56px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;

    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.picture {
    /* image */

    width: 624px;
    height: 412px;
    mix-blend-mode: multiply;
    opacity: 1;

    background: url(image/picture.png) no-repeat center center;
    background-size: cover;
}

.button {
  /* 矩形 136 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 468px;
  height: 108px;
  border-radius: 52px;
  opacity: 1;

  background: #ffd500;

  box-sizing: border-box;
  border: 4px solid #3d3d3d;
}
.linkgroupIcon {
    /* 去和摄影师群内沟通 */

    width: 288px;
    height: 46px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.linkgroupButton {
    /* 矩形 136 */

    width: 468px;
    height: 108px;
    border-radius: 52px;
    opacity: 1;

    background: #ffd500;

    box-sizing: border-box;
    border: 4px solid #3d3d3d;
}
.reserveIcon {
    /* 预定妆造/道具 */

    width: 206px;
    height: 46px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.reserveButton {
    /* 矩形 137 */

    width: 468px;
    height: 108px;
    border-radius: 52px;
    opacity: 1;

    background: #ffd500;

    box-sizing: border-box;
    border: 4px solid #3d3d3d;
}
.backchangeIcon {
    /* 返回主页 */

    width: 128px;
    height: 46px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.backchangeButton {
    /* 矩形 138 */

    width: 468px;
    height: 108px;
    border-radius: 52px;
    opacity: 1;

    background: #ffd500;

    box-sizing: border-box;
    border: 4px solid #3d3d3d;
}
