.container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.box {
    display: flex;
    margin: 10px;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
    border-radius: 52px;
    opacity: 1;
    background: #fff8e8;
    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
    z-index: -1;
}

.backgroundLogo {
    position: fixed;
    right: 10px;
    top: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    background: url(image/Snap-logo.png);
}

.BottomNavigation {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    /* width: 640px; */
    width: calc(100vw);

    height: 156px;
    opacity: 1;

    background: #fffefc;

    border: 4px solid #000000;
}
.BottomNavigation2 {
    /* width: 582px; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: calc(100vw - 40px);
    height: 112px;
    border-radius: 34px;
    opacity: 1;
    background: #ffffff;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}
.head {
    margin-left: 70px;
    margin-top: 100px;
    width: 173px;
    height: 40px;
    opacity: 1;
    background: url(image/SNAP.png);
}

.HomeIcon {
    width: 31.26%;
    height: 56.72%;
    opacity: 1;
    background: url(image/HomeIcon.png);
}
.HomeButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.MomentsIcon {
    width: 40.26%;
    height: 59.72%;
    opacity: 1;
    background: url(image/MomentsIcon.png);
}
.MomentsButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    /* background: #FFD500;
  box-sizing: border-box;
  border-width: 4px 6px 6px 5px;
  border-style: solid;
  border-color: #000000; */
}
.ChatIcon {
    width: 43.26%;
    height: 58.72%;
    opacity: 1;
    background: url(image/ChatIcon.png);
}
.ChatButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.CalendarIcon {
    width: 40.26%;
    height: 62.72%;
    opacity: 1;
    background: url(image/CalendarIcon.png);
}
.CalendarButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    background: #ffd500;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}

/* .SettingIcon {
    width: 50px;
    height: 50px;
    opacity: 1;
    background: url(image/SetIcon.png);
}
.SettingButton {
    width: 48px;
    height: 48px;
    opacity: 1;
} */
.subtitle1 {
    /* 咔嚓小助手 */
    opacity: 1;

    font-family: Alibaba PuHuiTi 3;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.body1 {
    /* 下午好！今日微风 宜出游 📷 */
    opacity: 1;

    font-family: Alibaba PuHuiTi 3;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #898989;
}
.avator {
    /* 圆形 15 */

    width: 114px;
    height: 112px;
    opacity: 1;

    background: url(image/avator.png);

    box-sizing: border-box;
    border: 4px solid #000000;
}
.userProfileCard1 {
    /* 矩形 5 */

    width: 686px;
    height: 202px;
    border-radius: 36px;
    opacity: 1;

    background: #ffffff;

    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.userProfileCard2 {
    /* 矩形 6 */

    width: 686px;
    height: 86px;
    border-radius: 36px 36px 0px 0px;
    opacity: 1;

    background: #3d3d3d;

    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.subtitle2 {
    /* 足迹 */
    opacity: 1;

    font-family: Alibaba PuHuiTi 3;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #ffffff;
}
.body2 {
    /* 37 */
    opacity: 1;

    font-family: Alibaba PuHuiTi 3;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.body3 {
    /* 笔记 */
    opacity: 1;
    font-family: Alibaba PuHuiTi 3;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #898989;
}
.calendarCard {
    /* 组 14 */
    width: 780px;
    height: 1690px;
    opacity: 1;
    background: url(image/PhotoCalendar.png);
}
.body4 {
    /* 回忆相册 */

    opacity: 1;

    font-family: Alibaba PuHuiTi 3;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.albumCard1 {
    /* 组 6 */

    width: 326px;
    height: 206px;
    opacity: 1;

    background: url(image/photo1.png);
}
.albumCard2 {
    /* 组 8 */

    width: 326px;
    height: 206px;
    opacity: 1;

    background: url(image/photo2.png);
}
