.container {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.box {
    display: flex;
    margin: 10px;
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
    border-radius: 52px;
    opacity: 1;
    background: #fff8e8;
    border-width: 4px 14px 12px 6px;
    border-style: solid;
    border-color: #000000;
    z-index: -1;
}
.head {
    margin-left: 70px;
    margin-top: 100px;
    width: 173px;
    height: 40px;
    opacity: 1;
    background: url(image/SNAP.png) no-repeat center center;
    background-size: cover;
}
.backgroundLogo {
    position: fixed;
    right: 10px;
    top: 950px;
    bottom: 0px;
    width: 370px;
    height: 458px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    /*
position: absolute;
left: 286px;
top: 926px;
width: 370px;
height: 458px;
mix-blend-mode: multiply;
opacity: 0.3;
	 */
    background: url(image/Snap-logo.png) no-repeat center center;
    background-size: cover;
}

.BottomNavigation {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    /* width: 640px; */
    width: calc(100vw);

    height: 156px;
    opacity: 1;

    background: #fffefc;

    border: 4px solid #000000;
}
.BottomNavigation2 {
    /* width: 582px; */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: calc(100vw - 40px);
    height: 112px;
    border-radius: 34px;
    opacity: 1;
    background: #ffffff;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}

.HomeIcon {
    width: 31.26%;
    height: 56.72%;
    opacity: 1;
    background: url(image/HomeIcon.png) no-repeat center center;
    background-size: cover;
}
.HomeButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.MomentsIcon {
    width: 40.26%;
    height: 59.72%;
    opacity: 1;
    background: url(image/MomentsIcon.png) no-repeat center center;
    background-size: cover;
}
.MomentsButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    /* background: #FFD500;
box-sizing: border-box;
border-width: 4px 6px 6px 5px;
border-style: solid;
border-color: #000000; */
}
.ChatIcon {
    width: 43.26%;
    height: 58.72%;
    opacity: 1;
    background: url(image/ChatIcon.png) no-repeat center center;
    background-size: cover;
}
.ChatButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
    background: #ffd500;
    box-sizing: border-box;
    border-width: 4px 6px 6px 5px;
    border-style: solid;
    border-color: #000000;
}
.CalendarIcon {
    width: 40.26%;
    height: 62.72%;
    opacity: 1;
    background: url(image/CalendarIcon.png) no-repeat center center;
    background-size: cover;
}
.CalendarButton {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 120px;
    height: 72px;
    border-radius: 48px;
    opacity: 1;
}
.card1 {
    /* 矩形 149 */

    position: absolute;
    left: 56px;
    top: 568px;
    width: 620px;
    height: 300px;
    border-radius: 20px;
    opacity: 1;

    background: #ffffff;

    box-sizing: border-box;
    border-width: 4.8px 10px 8px 5px;
    border-style: solid;
    border-color: #3d3d3d;
}
.error {
    /* image */

    position: absolute;
    left: 0px;
    top: 122px;
    width: 722px;
    height: 490px;
    mix-blend-mode: multiply;
    opacity: 1;

    background: url(image/image.png) no-repeat center center;
    background-size: cover;
}
.text1 {
    /* 您还没有消息 快去下单，和摄影师沟通 具体的拍照细则吧～ */

    position: absolute;
    left: 175px;
    top: 678px;
    width: 374px;
    height: 150px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 34px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.text2 {
    /* 哎呀！ */

    position: absolute;
    left: 312px;
    top: 612px;
    width: 120px;
    height: 50px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #ffd500;

    text-shadow: 0px 8px 20px rgba(255, 249, 220, 0.851);
}
.text4 {
    /* 您的订单专属沟通群 */

    position: absolute;
    left: 98px;
    top: 188px;
    width: 306px;
    height: 50px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 34px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: rgba(61, 61, 61, 0.8);
}
.personGroupIcon {
    /* users */

    position: absolute;
    left: 36px;
    top: 188px;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: url(image/personGroupIcon.png) no-repeat center center;
    background-size: cover;
}
.card2 {
    /* 矩形 147 */

    position: absolute;
    left: 42px;
    top: 260px;
    width: 654px;
    height: 204px;
    border-radius: 20px;
    opacity: 1;

    background: rgba(255, 213, 0, 0.3);

    box-sizing: border-box;
    border: 4px solid #606060;
}
.chip {
    /* 矩形 150 */

    position: absolute;
    left: 184px;
    top: 290px;
    width: 110px;
    height: 50px;
    border-radius: 28px;
    opacity: 1;

    background: rgba(255, 41, 41, 0.7);
}
.text5 {
    /* 进行中 */

    position: absolute;
    left: 204px;
    top: 298px;
    width: 72px;
    height: 34px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;
}
.text6 {
    /* 羊驼 & 若晗 5.12校内.. */

    position: absolute;
    left: 336px;
    top: 294px;
    width: 306px;
    height: 38px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 28px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #3d3d3d;
}
.text7 {
    /* Snap小助手：小助手已加入群聊... */

    position: absolute;
    left: 200px;
    top: 392px;
    width: 306px;
    height: 28px;
    opacity: 1;

    font-family: Source Han Sans;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #898989;
}
.text8 {
    /* 23:22 */

    position: absolute;
    left: 554px;
    top: 354px;
    width: 50px;
    height: 28px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #898989;
}
.text9 {
    /* 若晗：其实我们去颐和园的话... */

    position: absolute;
    left: 200px;
    top: 352px;
    width: 334px;
    height: 34px;
    opacity: 1;

    font-family: Source Han Sans;
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    font-feature-settings: "kern" on;
    color: #898989;
}
.text10 {
    /* 23:15 */

    position: absolute;
    left: 554px;
    top: 392px;
    width: 50px;
    height: 56px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #898989;
}
.avatorGroup {
    /* 圆形 36 */

    position: absolute;
    left: 56px;
    top: 302px;
    width: 106px;
    height: 106px;
    opacity: 1;

    background: url(image/avatorGroup.png) no-repeat center center;
    background-size: cover;
}
.dialog{
  /* 组 54 */

position: absolute;
left: 50px;
top: 230px;
width: 660px;
height: 1025px;
opacity: 1;
	
box-sizing: border-box;

background: url(image/dialog.png) no-repeat center center;
background-size: contain;
}
.head2{
  /* 矩形 144 */
  position: fixed;
left: 5px;
top: 5px;
width: calc(100vw - 18px);
height: 180px;
border-radius: 52px 52px 0px 0px;
opacity: 1;
	
background: #FFD500;

}
.text3 {
    /* SNAP 消息列表 */

    position: absolute;
    left: 220px;
    top: 95px;
    width: 378px;
    height: 58px;
    opacity: 1;

    font-family: 思源黑体;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;

    font-feature-settings: "kern" on;
    color: #ffffff;

    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.backIcon {
    /* 路径 */

    width: 48px;
    height: 48px;
    opacity: 1;

    background: url(image/backIcon.png) no-repeat center center;
    background-size: cover;
}
.backButton {
    /* arrow-go-back-fill */

    position: absolute;
    left: 50px;
    top: 95px;
    width: 48px;
    height: 48px;
    opacity: 1;
}
.bottomBar{
  /* 矩形 154 */

position: absolute;
left: 5px;
bottom:20px;
width: calc(100vw - 20px);
height: 132px;
border-radius: 0px 0px 48px 48px;
opacity: 1;
	
background: #FFFFFF;
	
}
.textSpace{
  /* 矩形 159 */

position: absolute;
left: 200px;
bottom:50px;
width: 474px;
height: 58px;
opacity: 1;
	
background: #FFFFFF;
	
box-sizing: border-box;
border: 2px solid #606060;
	
}
.micIcon{
  /* mic-fill */

position: absolute;
left: 40px;
bottom:50px;
width: 48px;
height: 48px;
opacity: 1;
	
background: url(image/micIcon.png) no-repeat center center;
background-size: cover;
}
.emojyIcon{
  /* emotion-2-fill */

position: absolute;
left: 100px;
bottom:50px;
width: 48px;
height: 48px;
opacity: 1;
	
background: url(image/emojyIcon.png) no-repeat center center;
background-size: cover;
}